doctype html

html

	head

		title #{title}
		link(href="/images/favicon.png", rel="shortcut icon")
		link(rel='stylesheet' href='./stylesheets/styles.css')
		link(rel='stylesheet' media="screen and (max-width: 750px)" href='./stylesheets/styles_mobile.css')
		script(src="socket.io/socket.io.js")
		script(src="./javascripts/index.js")

	body

		div(class="warp")

			section(class="left-side")

				div(id="formulaire")

					a(href="/?page=0")
						img(src="/images/logo_cigogne.png" class="logo")

					if response
						p(class="response #{response.success}")= response.message

					form(action="/new_twiit",enctype="multipart/form-data", method="POST" id="postTwiit")
						input(type="text" name="user_name" placeholder="Your Nickname" class="input-name" id="userName")
						textarea(name="twiit", placeholder="Your Twiiiiiit !" id="twiit")
						input(type="file" name="image")
						input(type="hidden" name="date" id="dateTwiit")
						button(type="submit" class="boutton_send") Twiit !

				form(action="/search_POST" method="POST" id="search-panel")
					input(type="text" placeholder="Enter a user name..." name="user" class="input-name input-search")
					button(type="submit") Search

			ul(class="twiit-list")

				each twiit in twiits
					a(href="twiit_page?twiit=" + twiit.filename + "&page=" + page class="twiit-link")
						li(class="twiits")
							span(class="name") !{twiit.name}'s twiit :
							span(class="elapsed-time")= twiit.elapsed

							if twiit.img != ""
								img(src=twiit.img class="image_twiit")

							p(class="message")=twiit.message
							p(class="date")= twiit.date

				div(class="pagination")

					if(page != 0)
						a(href=precedent class="prev")

					span(class="nbPage")
					script.
						console.log(!{page}, !{maximum}, !{twiits.length})
					if(page < maximum)
						a(href=suivant class="next")

		div(class="ws" id="connected-users")
		div(id="oModal" class="cModal")
			a(id="goToTwiit")
