doctype html

html

	head

		title #{title}   
		link(href="/images/favicon.png", rel="shortcut icon")
		link(rel='stylesheet' href='./stylesheets/styles.css')
		link(rel='stylesheet' href='./stylesheets/styles_twiitPage.css')
		script(src="socket.io/socket.io.js")
		script(src="./javascripts/index.js")

	body

		a(href="/?page=0" class="logo-link")

		br

		a(href="/?page="+page) Retour

		p(class="date")=date

		h2 !{name}'s twiit :

		a(href=img class="link-img")
			img(src=img)

		p(class="message")=message

		br

		h2 Comment(s) :

		ul(class="comment-list")
			each comment in comments
				li=comment

		form(action='/stock_comment', method="POST" class="form-comment")
			input(type="text" placeholder="Your nickname (Optionnal)" name="user" class="input-comment")
			input(type="text" name="commentaire" placeholder="Your comment" class="input-comment")
			input(type="hidden" value=twiit name="twiit" readonly)
			input(type="hidden" value=page name="page"  readonly)
			button(type="submit") Send
		
		div(class="ws" id="connected-users")
		div(id="oModal" class="cModal")

			a(id="goToTwiit") See the twiit