doctype html
html
	head
		title #{title}   
		link(href="/images/favicon.png", rel="shortcut icon")
		link(rel='stylesheet' media='screen and (max-width: 720px)' href='./stylesheets/mobile.css')
		link(rel='stylesheet' media='screen and (min-width: 720px)' href='./stylesheets/monitor2.css')
		link(rel='stylesheet' href='./stylesheets/common.css')
	body
		a(href="/?page=0")
				img(src="/images/logo_cigogne.png" class="logo")
		a(href="/?page="+page) Retour page #{page}
		p(class="date")=date
		a(href="/search?user=#{name}") #{name}
		p a twiiter:
		a(href=img)
			img(src=img class="image_twiit")
		p(class="message")=message

		p Commentaire:
		ul
			each comment in comments
				li=comment
		form(action='/stock_comment', method="POST")
			input(type="text" placeholder="Votre pseudo" name="user" class="user")
			textarea(name="commentaire" placeholder="Votre commentaire" class="commentaire")
			input(type="text" value=twiit name="twiit" class="hide" readonly)
			input(type="text" value=page name="page"  class="hide" readonly)
			button(type="submit") Envoyer
		
